*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.hero{
    height:100%;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(login_bgimage_ecea.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    height: 560px;
    width:380px;
    position: relative;
    margin: 6% auto;
    background: seashell;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
}

#btn{
    top:0;
    left: 0;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    position: absolute;
    transition: 0.5s;
}

.input-group{
    top:100px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    outline: none;
    background: rgba(240, 153, 40, 0.2);
    border-radius: 35px; 
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(223, 130, 9, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: orange;
    box-shadow: 0.5px 6px rgba(0,0,0,0.05);
}
.submit-btn{
    margin-top: 10px;
    margin-left: 15px;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
#login{
    left: 50px;
}
#register{
    right: 450px;
}