doctype html
html
    head
        meta(charset='UTF-8')
        meta(content='width=device-width, initial-scale=1.0' name='viewport')
        title VISION &apos;22
        meta(content="VISION is a National Level Intercollegiate Technical Symposium organized by the Department of Electronics and Communication Engineering. Exclusively run by students, it's an annual summit for both young and experienced industry practitioners, researchers and students who join to share experiences and develop networks. It provides ample opportunities for the multi-pronged growth of the student fraternity and has undoubtedly become a must-visit-fest for every engineering student." name='description')
        meta(content='VISION, vision, visionece, visionceg,vision sympo,Symposium, CEG, ECE, techincal, College of engineering guindy, Technical events, Non technical events' name='keywords')
        link(href='assets/eceaGreen.png' rel='icon')
        link(href='assets/css/style.css' rel='stylesheet')
        style.
            @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Rancho&display=swap');
    section.sticky
        .bubbles
            .bubble
            .bubble
            .bubble
            .bubble
            .bubble
            .bubble
            .bubble
            .bubble
            .bubble
            .bubble
    header.header
        a.logo(href='index.html')
            img(src='assets/eceaGreen.png' alt='logo')
            span(style='font-weight:1000;font-size:30px;') ECEA
        .navbar
            ul
            li
                a.home(href='index.html') Home
            li
                a.nav-link(href='aboutus.html') About Us
            li
                a.nav-link(href='resonance.html') Resonance
            li
                a.nav-link(href='sponsors.html') Sponsors
            li
                a.nav-link(href='events.html') Events
            li
                a.nav-link(href='workshops.html') Workshops
            li
                a.nav-link(href='contact.html') Contact Us
            li
                a.login.page(href='login.html') Login
    .mainarea
        h2.info
            span VISION&apos;22
            br
            | 27th Inter College Symposium
            br
    .content
        p
            | VISION, a national level inter-college technical symposium is the pinnacle event of ECEA. VISION, which is exclusively run by students, is an annual summit for Electronics and Communication Engineers from all over the country to come together and share their knowledge and expertise.
            | It acts as a platform for students to exhibit their prowess in cutting-edge technologies. VISION 2022 will also bring the same gusto.
